<%-include('partials/header');-%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('img/about-bg.jpg');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Us</h1>
                            <span class="subheading">This is what we do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>In today’s rapidly changing environment, programming skills are essential tools that can be utilized and incorporated into various fields and domains.</p>
                        <p>Hence, it becomes absolutely essential to equip young minds with such skills. Coding Club aims to establish a coding culture on campus, reaching every student passionate about coding. The club’s motto is to Create-Build-Innovate.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->

<%-include('partials/footer');-%>
